/*para los bordes*/
*{
    box-sizing: border-box;
}
 /*FONDO*/
body{
    font-family: Arial; /*tipo de letra*/
    background-color: lightgray; /*color del fondo*/
    color: black; /*color del texto*/
    line-height: 1.6; /*espacio entre lineas*/
    font-size: 1rem; /*tamaño de la letra*/
}
html, body{
    height: 100%;
}

/* PARA EL MENU */
/*para la barra del navegador*/
nav{
    background-color: black;
    display: flex; /*modo flexible*/
    justify-content: center; /*centra horizontalmente*/
    align-items: center; /*centra verticalmente*/
    padding: 10px 0; /*espacio arriba y abajo*/
}

.menu{
    display: flex; /*elementos en fila*/
    justify-content: center; 
    gap: 20px /*espacio entre ellos*/
}

.menu li{
    list-style: none; /*quita los puntos de la lista*/
    margin: 0 20px;
}

/*para cuando no le pasa nada*/
.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}

/*para cuando pasas el cursor por encima*/
.menu a:hover{
    color: #ff4da6;
}

/*cuando está en activo se pone rosa*/
.menu .active{ 
    color: #ff4da6;
}

/* PARA COLUMNAS*/
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna{
    flex: 1;
    padding: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgrey;
}

.izquierda {
    max-width: 30%; /*la columna ocupa un 30% de la pantalla*/
}
.derecha{
    max-width: 70%; /*la columna ocupa un 30% de la pantalla*/
}
.fila{
    display: flex;  /*divide las columnas*/
    max-width: 1100px;
    margin: 30px auto;
    gap: 30px;
    align-items: stretch;
    flex-wrap: wrap;
}


/*PARA FOTO DE PERFIL*/
.iresponsive{
    text-align: center;
    margin-bottom: 20px;
}

#imghtml {
    border-radius: 30%; /*bordes redondeados*/
    max-width: 170px; 
    width: 120%; /*zoom*/
    height: auto; /*mantiene proporciones*/
    display: block;
    margin: 0 auto 20px auto; 
}

/*TEXTOS*/
.Titulo{
    margin: 15px 0;
    color: #ff4da6;
}

.Información{
    margin-bottom: 15px;
}

.Información li{
    margin-bottom: 5px;
}
.Negrita{
    color: black;
    font-weight: bold;
}
.RedesSociales{
    color: #ff4da6;
}

.Nombre{
    font-family: 'Playfair Display', serif;
    font-size: 5.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.social-buttons {
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.social-btn {
    background-color: black;   
    color: white;              
    text-decoration: none;    
    padding: 10px 20px;        
    border-radius: 20px;       
    text-align: center;        
    font-weight: bold;         
    transition: 0.2s;          
    display: inline-block;
}
.social-btn:hover{
    color: #ff4da6;
    background-color: black;
}

/*PARA EL ABOUT*/
.etapa{
    margin: 20px auto; /*centrada*/
    padding: 20px;
    background: white;
    border-radius: 10px; /*redondeaar bordes*/
    width: fit-content; /*se adapta al contenido*/
    max-width: 1000px;
}

.etapa h2{
    font-size: 2.2rem;      
    font-weight: bold;
    color: #ff4da6;
    margin-bottom: 15px;
}
.contenido-etapa {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.texto{
    flex: 1;
}

.texto h2{
    margin: 0 0 10px 0;
    color: #ff4da6;
    font-size: 2.2rem;
}

.texto p{
    margin: 0;
    text-align: justify;
}
.contenido-etapa.reverse{
    flex-direction: row-reverse; /*invertir*/
}

.contenido-etapa p{
    flex: 1;
    text-align: justify;
}

.contenido-etapa .imagen{
    flex: 1;
    max-width: 300px;
}

.contenido-etapa img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*recortar sin deformar*/
    border-radius: 10px;
    aspect-ratio: 1 / 1; /*cuadrada*/  
    display: block;
}

/*PARA PROYECTOS*/
.projects-container{
    max-width: 1100px;
    margin: 30px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.card{
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column; /*elementos en columna*/
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.card h3{
    margin-bottom: 10px;
    color: #ff4da6;
    font-weight: bold;
}

.card p {
    text-align: justify;
    margin-bottom: 10px;
}

.card a{
    display: inline-block;       
    margin: 15px auto 0 auto;     
    text-decoration: none;        
    background-color: black;    
    color: white;                 
    padding: 8px 15px;           
    border-radius: 20px;         
    text-align: center;           
    transition: 0.2s;
    font-weight: bold;
}

.card a:hover{
    color: #ff4da6;
    background-color: black;
}

/*PARA ENLACES*/
a{
    color: #ff4da6;
}

/* PARA QUE SEA RESPONSIVE*/ /*para el movil*/
@media (max-width: 768px) {
    .fila,
    .about-container,
    .projects-container{
        flex-direction: column; /* todo el columna*/
        height: auto;
        overflow: visible;
    }

    .columna {
        max-width: 100%;
        float: none;
    }

    .contenido-etapa{
        flex-direction: column;
        text-align: center;
    }

    .contenido-etapa.reverse {
        flex-direction: column;
        text-align: center
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 90%;
    }
    .card h3 {
        text-align: center;  
    }
}