/*para los bordes*/
*{
    box-sizing: border-box;
}
 /*para el fondo*/
body{
    font-family: Arial;
    background-color: lightgray;
    color: black;
    line-height: 1.6;
}
html, body{
    height: 100%;
    margin: 0;
}

/* PARA EL MENU */
/*para la barra del navegador*/
nav{
    background-color: black;
    padding: 15px 0; /*espacio arriba y abajo 15, izquierda y derecha 0*/
    height: 60px;
}

.menu{
    display: flex; /*elementos en horizontal*/
    justify-content: center; /*para que este en el medio*/
}

/*para separar el menu*/
.menu li{
    margin: 0 20px;
}

/*para cuando no le pasa nada*/
.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

/*para cuando pasas el cursor por encima*/
.menu a:hover{
    color: #ff4da6;
}

/*cuando est치 en activo se pone rosa*/
.menu .active{ 
    color: #ff4da6;
}

/* PARA COLUMNAS*/
/* Crear columnas de ancho diferente que se colocan una a continuaci칩n de la otra */
.columna{
    padding: 15px;
    height: 100%;
    overflow: auto;
}

.izquierda{
    width: 40%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgrey;
}

.derecha{
    width: 60%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
}
.fila{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    gap: 30px;
    height: auto;
    align-items: stretch;
}


/*PARA FOTO DE PERFIL*/
.iresponsive{
    text-align: center;
    margin-bottom: 20px;
}

#imghtml{
    border-radius: 30%;
    max-width: 100%;
    height: auto;
}

/*TEXTOS*/
.Titulo{
    margin: 15px 0;
    color: #ff4da6;
}

.Informaci칩n{
    margin-bottom: 15px;
}

.Informaci칩n li{
    margin-bottom: 5px;
}
.Negrita{
    color: black;
    font-weight: bold;
}
.RedesSociales{
    color: #ff4da6;
}

.Nombre{
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    text-align: right;
    margin-bottom: 10px;
}

/*PARA EL ABOUT*/
.etapa{
    margin: 30px 0;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
}

.etapa h2{
    font-size: 2.2rem;      
    font-weight: bold;
    color: #ff4da6;
    margin-bottom: 15px;
}

.contenido-etapa{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contenido-etapa.reverse{
    flex-direction: row-reverse;
}

.contenido-etapa p{
    flex: 1;
    text-align: justify;
}

.contenido-etapa .imagen{
    flex: 1;
}

.contenido-etapa img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgrey;
}

.img-small{
    width: 70%;
}

/*PARA PROYECTOS*/
.projects-container{
    max-width: 1100px;
    margin: 30px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 150px);
    align-items: center;
}

.card{
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px lightgrey;
    text-align: justify;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
}

.card h3{
    margin-bottom: 10px;
    color: #ff4da6;
}

.card a{
    display: inline-block;
    margin: 15px auto 0 auto; 
    text-decoration: none;
    background-color: #ff4da6;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.card a:hover{
    background-color: #e60073;
}

/*PARA ENLACES*/
a{
    color: #ff4da6;
}

/* PARA QUE SEA RESPONSIVE*/
@media (max-width: 768px){

    .fila{
        flex-direction: column;
    }

    .etapa{
        flex-direction: column;
    }

    .projects-container{
        flex-direction: column;
        align-items: center;
    }

    .columna{
        width: 100%;
        float: none;
    }

    .contenido-etapa{
        flex-direction: column;
    }

    .contenido-etapa.reverse{
        flex-direction: column;
    }
    .fila,
    .about-container,
    .projects-container{
        height: auto;
        overflow: visible;
    }
}