/*para los bordes*/
*{
    box-sizing: border-box;
}
 /*para el fondo*/
body{
    font-family: Arial;
    background-color: lightgray;
    color: black;
    line-height: 1.6;
}

/* PARA EL MENU */
/*para la barra del navegador*/
nav{
    background-color: black;
    padding: 15px 0; /*espacio arriba y abajo 15, izquierda y derecha 0*/
}

.menu{
    display: flex; /*elementos en horizontal*/
    justify-content: center; /*para que este en el medio*/
}

/*para separar el menu*/
.menu li{
    margin: 0 20px;
}

/*para cuando no le pasa nada*/
.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

/*para cuando pasas el cursor por encima*/
.menu a:hover{
    color: #ff4da6;
}

/*cuando est치 en activo se pone rosa*/
.menu .active{ 
    color: #ff4da6;
}

/* PARA COLUMNAS*/
/* Crear columnas de ancho diferente que se colocan una a continuaci칩n de la otra */
.columna{
    float: left; /*se apilan por la iquierda*/
    padding: 15px;
    min-height: 500px;
}

.izquierda{
    width: 35%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgrey;
}

.derecha{
    width: 65%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgray;
}
.fila{
    display: flex;
    max-width: 1100px;
    margin: 30px auto;
    gap: 30px;
}

.fila::after{
    content: "";
    display: table;
    clear: both;
}

/*PARA FOTO DE PERFIL*/
.iresponsive{
    text-align: center;
    margin-bottom: 20px;
}

#imghtml{
    border-radius: 30%;
    max-width: 100%;
    height: auto;
}

/*TEXTOS*/
.Titulo{
    margin: 15px 0;
    color: #ff4da6;
}

.Informaci칩n{
    margin-bottom: 15px;
}

.Informaci칩n li{
    margin-bottom: 5px;
}
.Negrita{
    color: black;
    font-weight: bold;
}
.RedesSociales{
    color: #ff4da6;
}

.Nombre{
    color: black;
    font-family: 
    font-size: 3rem;
}

/*PARA EL ABOUT*/
.etapa .h2{
    margin-bottom: 10px;
    color: #ff4da6;

.etapa{
    display: flex;
    align-items: last baseline;
    margin: 40px 0;
    gap: 30px;
}

.etapa.reverse{
    flex-direction: row-reverse;
}

.etapa .texto{
    flex: 1;
}

.etapa .imagen{
    flex: 1;
}

.etapa img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px lightgrey;
}

/*PARA PROYECTOS*/
.projects-container{
    max-width: 1100px;
    margin: 30px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px lightgrey;*/
    text-align: justify;
    transition: transform 0.3s;
}

.card h3{
    margin-bottom: 10px;
    color: #ff4da6;
}

.card a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #ff4da6;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.3s;
}

.card a:hover{
    background-color: #e60073;
}

/*PARA ENLACES*/
a{
    color: #ff4da6;
}

/* PARA QUE SEA RESPONSIVE*/
@media (max-width: 768px){

    .fila{
        flex-direction: column;
    }

    .etapa{
        flex-direction: column;
    }

    .etapa.reverse{
        flex-direction: column;
    }

    .projects-container{
        flex-direction: column;
        align-items: center;
    }

    .columna{
        width: 100%;
        float: none;
    }
}