/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Hacemos cajas */
* {
    box-sizing: border-box;
  }
  
/* Columnas de ancho diferente */
.columna {
float: left;
padding: 10px;
min-height: 500px;
max-heigth: auto;
}

.izquierda {
width: 25%;
}

.derecha {
width: 75%;
}

/* Para eliminar la superposición */
.fila:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color: lightpink;
    heigth: 100%;
    margin: 10px;
    border: solid;
    border-color: black;
    border-radius: 10px;
    box-shadow: black;
    font-weigth:300;
}

#c2 {
    background-color: lightpink;
    height: 100%;
    margin: 10px;
    padding: 25px;
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }


/* Para dispositivs móviles */
@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
      float: none;
    }

    .iresponsive {
        width: 100%;
        float: none;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */