body {
  margin: 0;
  background: black;
  color: white;
  text-align: center;
  font-family: monospace;
}

h1 {
  margin: 10px 0;
}

/* CRONO */
#cronometro {
  font-size: 22px;
  color: white;
  margin-bottom: 10px;
}

/* CENTRAR CANVAS */
canvas {
  display: block;
  margin: 0 auto;
  border: 2px solid white;
  background: black;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  display: block;

  background-image: url("fondo.gif"); /* 👈 TU GIF LOCAL */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 2px solid white;
}