canvas {
  border: 2px solid white;
  background: radial-gradient(circle, #000 60%, #020024 100%);
}
}

body {
  background: black;
  color: white;
  text-align: center;
  font-family: monospace;
}

h1 {
  margin-bottom: 10px;
}

#cronometro {
  font-size: 22px;
  margin-bottom: 10px;
  color: cyan;
}